.arrow{
    position: fixed;
    background-color: rgb(159, 8, 8);
    z-index: 300;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    
   
}
.arrow:hover{
    background-color:#e5844c;
  transition: .5s ease;   
}
.arrow svg{
    font-size: 40px;
    margin: 0;
    color: white;
}