
 #btnArrow{
    position: fixed;
    background-color: rgb(159, 8, 8);
    cursor: pointer;   
}

#btnArrow:hover{
    background-color:#e5844c;
    transition: .5s ease;   
}

#btnArrow svg{
    font-size: 40px;
    margin: 0;
    color: white;
}
.active{
    position: fixed;
    background-color: rgb(159, 8, 8);
    z-index: 300;
    padding: 2px;
    color: white;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    display: block;
} 